body {
    background-color: #f8f9fa;
    font-family: 'Montserrat', sans-serif;
}

.navbar-brand img {
    margin-top: -10px;
}

main {
    margin-top: 100px;
}

.card {
    border: none;
    transition: transform 0.3s ease;
    background-color: #fff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

footer {
    color: #ffffff;
}

.social-icons a {
    color: #ffffff;
    font-size: 20px;
    margin-right: 10px;
    transition: all 0.3s ease;
}

.social-icons a:hover {
    color: #f8f9fa;
    transform: scale(1.1);
}

.card-img-top {
    max-height: 150px;
    object-fit: contain;
    margin: auto;
    display: block;
}